* {
  background-color: #797D94;
}

main {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full height of the viewport */
    margin: 0;
}

h1 {
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

#arrow {
  text-decoration: none;
  color: black;
}