* {
    background-color: #E8EAF6;
}

body {
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #CED2E6;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #605A60;
}

h3 {
    font-family: 'DM Sans', serif;
    font-size: 17px;
    font-style: italic;
    color: #605A60;
}

nav {
    display: flex;
    flex-direction: column;
}

a {
    color: #605A60;
    font-family: 'DM Sans', serif;
    text-decoration: none;
}

a:hover {
    text-align: right;
    background-color: #797D94;
    color: #CED2E6;
}

a:active {
    text-align: right;
    background-color: #797D94;
    color: #CED2E6;
}

/*end of header*/